/* navbar */
.offcanvas-body ul li a {
    text-transform: uppercase;
    font-size: 20px;
}
.offcanvas-body {
    background-image: url('../img/off-canvas.jpg');
    background-size: cover;
    background-position: center;
}
.navbar-light .navbar-nav .nav-link {
    color: #fff;
}
.navbar img {
    cursor: pointer;
}
/* jumbotron */
.jumbotron {
    background-image: url('../img/off-canvas.jpg');
    height: 250px;
    background-size: cover;
    background-position: bottom;
}
.jumbotron h1 {
    font-size: 60px;
    text-align: center;
}
.jumbotron p {
    font-size: 20px;
    text-align: center;
}