@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* navbar */
.offcanvas-body ul li a {
    text-transform: uppercase;
    font-size: 20px;
}
.offcanvas-body {
    background-image: url('../img/off-canvas.jpg');
    background-size: cover;
    background-position: center;
}
.navbar-light .navbar-nav .nav-link {
    color: #fff;
}
.navbar img {
    cursor: pointer;
}
/* jumbotron */
.jumbotron {
    background-image: url('../img/off-canvas.jpg');
    height: auto;
    background-size: cover;
    background-position: bottom;
}
.jumbotron h1 {
    font-size: 60px;
    text-align: center;
    padding-top: 30px;
    font-family: 'Allerta Stencil', sans-serif;
}
.jumbotron p {
    font-size: 20px;
    text-align: center;
}
/* card */
.titulo-prod {
    font-size: 45px;
    font-family: 'Allerta Stencil', sans-serif;
}
.card {
    margin-top: 5px;
}
.card h5 {
    text-align: center;
}
.btn {
    display: flex;
    justify-content: center;
}
.card-text {
    text-align: center;
}
/* card company */
.oficina-maquinaria {
    padding-top: 20px;
    padding-bottom: 20px;
}
.oficina-maquinaria h2 {
    font-size: 45px;
    font-family: 'Allerta Stencil', sans-serif;
}
/* carrusel */
.carousel-inner {  
    padding: 20px;
}
.carousel-inner img {
    height: 450px;
}
.galeria {
    font-size: 45px;
    font-family: 'Allerta Stencil', sans-serif;
}
/* formulario */
.formulario h2 {
    color: aliceblue;
    text-align: center;
    font-size: 45px;
    font-family: 'Allerta Stencil', sans-serif;
}
.formulario p {
    color: aliceblue;
}